@use "../utils/" as *;

.lodge {
  &__content {
    @include flex(center, space-between);
    padding-block: 30px;

    &__info {
      @include flex(flex-start, flex-start, column);
      gap: 20px;
    }

    &__host {
      @include flex(flex-end, center, column, 21px);
      padding-top: 16px;

      figure {
        @include flex(center, flex-end, row, 10px);
      }
      @include phone {
        @include flex(center, space-between, row-reverse);
      }
    }

    @include phone {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__desc {
    background-color: $gray;
    padding: 20px;
    border-radius: 10px;
    @include flex(stretch, center, column, 20px);

    @include tablet {
      @include flex(flex-start, space-between, row, 76px);
    }
  }
}
