@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: #f2f2f2;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1536px;
  margin: 0 auto;
  padding-inline: 20px;
}
@media (max-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

a {
  text-decoration: none;
  color: #1f1f1f;
}

li {
  list-style: none;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  color: #1f1f1f;
}

h1 {
  font-size: 48px;
  font-weight: 500;
  color: #1f1f1f;
}
@media (min-width: 1280px) {
  h1 {
    font-size: 72px;
  }
}

h2 {
  font-size: 36px;
  font-weight: 500;
}
@media (min-width: 1280px) {
  h2 {
    font-size: 66px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.active {
  border-bottom: 2px solid #1f1f1f;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 70px;
  height: auto;
}
@media (min-width: 1280px) {
  .hero {
    flex-direction: row;
    height: calc(100vh - 80px);
  }
}
.hero .hero__left {
  flex: 1;
  width: 100%;
}
.hero .hero__left .title {
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
.hero .hero__left .title span {
  font-weight: 400;
  font-size: 26px;
}
@media (min-width: 768px) {
  .hero .hero__left .title span {
    font-size: 32px;
  }
}
@media (min-width: 1280px) {
  .hero .hero__left .title span {
    font-size: 40px;
  }
}
.hero .hero__left .title .headline {
  color: #747474;
  max-width: 60%;
  font-size: 20px;
}
.hero .hero__left .button_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin-top: 40px;
}
@media (min-width: 768px) {
  .hero .hero__left .button_container {
    flex-direction: row;
  }
}
.hero .hero__right {
  flex: 1;
  height: auto;
  width: 100%;
  position: relative;
}
.hero .hero__right img {
  width: 100%;
  height: inherit;
  object-fit: cover;
  border-radius: 30px;
}
@media (min-width: 768px) {
  .hero .hero__right img {
    height: 800px;
  }
}
.hero .hero__right .overlay {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  display: flex;
  gap: 40px;
}
.hero .hero__right .overlay p {
  font-size: 14px;
  text-transform: capitalize;
  margin-bottom: 10px;
  max-width: 180px;
  font-weight: 600;
}
.hero .hero__right .btn_cat {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  max-width: 175px;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  background-color: #f2f2f2;
  min-height: 75px;
  padding: 20px 10px;
  text-align: left;
  font-weight: bold;
  font-size: 14px;
}
.hero .hero__right .btn_cat svg {
  width: 25px;
  height: 25px;
  fill: #747474;
}

.advert {
  margin-block: 100px;
  position: relative;
  height: 100vh;
}
.advert .bg-container {
  width: 100%;
  height: 100%;
}
.advert .bg-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.advert .content {
  width: 80%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 100%;
  color: #f2f2f2;
}
@media (min-width: 1280px) {
  .advert .content {
    width: auto;
  }
}
.advert .content .subtitle {
  font-size: 36px;
  font-weight: 400;
  text-align: left;
}
.advert .content .emphasis {
  font-weight: 500;
}
@media (min-width: 1280px) {
  .advert .content .emphasis {
    font-size: 196px;
  }
}
.advert .content .olympic-rings {
  width: 80%;
}
@media (min-width: 1280px) {
  .advert .content .olympic-rings {
    width: 100%;
  }
}
.advert .content .olympic__res {
  height: max-content;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 30px;
  margin-top: 30px;
}
.advert .content .olympic__res-inner {
  color: #1f1f1f;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px;
  gap: 20px;
}
.advert .content .olympic__res-inner p {
  font-size: 18px;
}
.advert .content .olympic__res-inner p span {
  font-weight: 600;
  margin-top: 10px;
  display: block;
  margin-top: 10px;
}
.advert .content .olympic__res-inner .res_btn {
  display: flex;
  justify-content: flex-end;
}

.popular {
  width: 100%;
  min-height: 100vh;
  margin-top: 100px;
  background-color: #1f1f1f;
  color: #f2f2f2;
  padding-block: 30px;
}
.popular .title {
  padding-bottom: 100px;
}
.popular .title span {
  font-size: 16px;
  font-weight: 400;
}
.popular .popular__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}
@media (min-width: 1280px) {
  .popular .popular__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.popular .popular__grid .popular__item {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  width: 100%;
  height: 400px;
}
@media (min-width: 1280px) {
  .popular .popular__grid .popular__item {
    height: 800px;
  }
}

.benefits {
  padding-top: 100px;
}
@media (min-width: 1280px) {
  .benefits {
    padding-bottom: 100px;
    padding-top: 0;
  }
}

.benefits__title {
  padding-bottom: 30px;
}

.benefits__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 1280px) {
  .benefits__wrapper {
    flex-direction: row;
  }
}

.benefit__card {
  background-color: #e6e6e6;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  border-radius: 30px;
}
.benefit__card svg {
  width: 20px;
  height: 20px;
}
.benefit__card__title {
  font-weight: 700;
}

.rental {
  margin-block: 200px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (min-width: 1280px) {
  .rental {
    flex-direction: row;
  }
}
.rental .wrapper {
  display: flex;
  gap: 20px;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}
.rental .wrapper .title p {
  padding-top: 20px;
}
.rental .wrapper .team {
  padding-top: 20px;
  display: flex;
  align-items: center;
}
.rental .wrapper .team_text {
  padding-left: 20px;
  color: #747474;
  font-size: 12px;
}
.rental .wrapper .dynamic_cursors {
  padding-top: 50px;
}
.rental .wrapper .dynamic_cursors .separator {
  height: 2px;
  background-color: #e6e6e6;
  width: 100%;
  margin-block: 20px;
}
.rental .img_container {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  padding-top: 20px;
  position: relative;
  flex: 1;
}
.rental .img_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.rental .img_container .contact-top {
  position: absolute;
  top: 40px;
  right: 20px;
}
.rental .img_container .contact-bottom {
  position: absolute;
  bottom: 40px;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-inline: 20px;
}
@media (min-width: 768px) {
  .rental .img_container .contact-bottom {
    flex-direction: row;
    gap: 0;
  }
}
.rental .img_container .contact-bottom p {
  color: #f2f2f2;
  flex: 3;
}
.rental .img_container .contact-bottom--btn {
  padding: 10px 10px;
  display: flex;
  align-items: center;
  width: 300px;
  justify-content: space-between;
  border-radius: 10px;
  border: none;
  outline: none;
}
.rental .img_container .contact-bottom--btn img {
  width: 54px;
  filter: grayscale(100%);
}
.rental .img_container .contact-bottom--btn .btn-text {
  text-align: left;
  padding-left: 20px;
}
.rental .img_container .contact-bottom--btn .btn-text span {
  color: #747474;
  font-size: 12px;
  font-weight: 700;
  padding-bottom: 5px;
  display: block;
}
.rental .img_container .contact-bottom--btn .btn-text p {
  color: #1f1f1f;
}

.lodgelist .title {
  text-align: center;
}
.lodgelist .filter_btn-container {
  display: flex;
  justify-content: center;
  margin-block: 50px;
}
.lodgelist .filter_btn-container .inner {
  background-color: #e6e6e6;
  border-radius: 30px;
}
.lodgelist .filter_btn-container .filter-btn:nth-child(1) {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: none;
}
.lodgelist .filter_btn-container .filter-btn:nth-child(3) {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: none;
}
.lodgelist .filter_btn-container .filter-btn:nth-child(2) {
  border-right: none;
  border-left: none;
}
.lodgelist .filter_btn-container .filter-btn {
  padding: 15px 0;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 100px;
  border: none;
  background-color: #e6e6e6;
}
@media (min-width: 768px) {
  .lodgelist .filter_btn-container .filter-btn {
    width: 120px;
  }
}
@media (min-width: 1280px) {
  .lodgelist .filter_btn-container .filter-btn {
    width: 150px;
  }
}
.lodgelist .filter_btn-container .filter-btn:hover {
  background-color: #747474;
  color: #fff;
}
.lodgelist .filter_btn-container .filter-btn--active {
  background-color: #000;
  color: #fff;
}
.lodgelist_grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
@media (min-width: 768px) {
  .lodgelist_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1280px) {
  .lodgelist_grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.lodgelist_grid .lodgelist_item {
  width: 100%;
  height: 500px;
  background-color: antiquewhite;
  border-radius: 30px;
  position: relative;
}
.lodgelist_grid .lodgelist_item:hover .desc {
  max-height: 200px;
}
.lodgelist_grid .lodgelist_item_img {
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  height: max-content;
  background-color: aquamarine;
  width: 100%;
  height: 100%;
}
.lodgelist_grid .lodgelist_item_img .overlay {
  position: absolute;
  bottom: 0px;
  border-radius: 30px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(175, 248, 200, 0) 100%);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.lodgelist_grid .lodgelist_item_img img {
  width: inherit;
  min-height: 100%;
  object-fit: cover;
}
.lodgelist_grid .lodgelist_item_details {
  color: #f2f2f2;
  position: absolute;
  bottom: 20px;
  padding-inline: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  z-index: 2;
}
.lodgelist_grid .lodgelist_item_details_price {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.lodgelist_grid .lodgelist_item_details_price h4 {
  font-size: 12px;
}
.lodgelist_grid .lodgelist_item_details .desc {
  font-size: 14px;
  max-height: 0;
  transition: max-height 0.3s;
}

.faq {
  margin-block: 100px;
  padding-block: 200px;
  background-color: #e6e6e6;
}
.faq .faq_container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: space-between;
}
@media (min-width: 1280px) {
  .faq .faq_container {
    flex-direction: row;
  }
}
.faq .faq_container .faq__title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.faq .faq_container .faq__title .slogan {
  font-size: 14px;
}
.faq .faq_container .faq__questions {
  background-color: #f2f2f2;
  padding: 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.faq .faq_container .faq__questions .separator {
  height: 1px;
  background-color: #747474;
  width: 100%;
}

.recruit {
  background: url(../../src/assets//recruit.jpg) no-repeat center center/cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f2f2f2;
}
@media (min-width: 1280px) {
  .recruit {
    border-radius: 30px;
  }
}
.recruit__content {
  width: 100%;
  display: grid;
  place-content: center;
  border-radius: 30px;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.8);
}
@media (min-width: 1280px) {
  .recruit__content {
    width: 50%;
  }
}
.recruit__content h3 {
  color: #f2f2f2;
}
.recruit__content p {
  padding-top: 40px;
}
.recruit__content button {
  margin-top: 40px;
  padding: 15px 60px;
  border-radius: 50px;
  border: none;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.recruit__content button:hover {
  background: #1f1f1f;
  color: #f2f2f2;
}

.navbar {
  padding-block: 20px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}
.navbar__logo img {
  width: 100px;
}
@media (max-width: 640px) {
  .navbar__logo img {
    width: 145px;
    height: 46px;
  }
}
.navbar__links {
  display: flex;
  gap: 25px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navbar__links a {
  font-size: 16px;
  position: relative;
}
@media (max-width: 640px) {
  .navbar__links a {
    font-size: 12px;
  }
}
@media (max-width: 640px) {
  .navbar__links {
    gap: 20px;
  }
}
@media (min-width: 768px) {
  .navbar {
    margin-block: 20px 27px;
  }
}

.footer {
  background-color: #1f1f1f;
  margin-top: 50px;
  padding-inline: 20px;
  color: #f2f2f2;
}
.footer__content {
  display: flex;
  flex-direction: column;
  padding-block: 100px;
  gap: 50px;
  min-height: 80vh;
}
@media (min-width: 1280px) {
  .footer__content {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}
.footer__content-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 30px;
  flex: 1;
}
@media (min-width: 1280px) {
  .footer__content-left {
    padding-bottom: 0;
  }
}
.footer__content-left .logo span {
  padding-top: 5px;
  display: block;
}
.footer__content-left .newsletter {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__content-left .newsletter h3 {
  color: #f2f2f2;
}
.footer__content-left .newsletter input {
  width: 100%;
  border: none;
  padding: 10px;
  background-color: #1f1f1f;
  border-bottom: 1px solid #f2f2f2;
  color: #1f1f1f;
  outline: none;
}
.footer__content-left .newsletter button {
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  background-color: #f2f2f2;
  color: #1f1f1f;
  cursor: pointer;
  width: 150px;
  transition: background-color 0.3s;
}
.footer__content-left .newsletter button:hover {
  background-color: #e6e6e6;
}
.footer__content-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 30px;
  flex: 1;
}
@media (min-width: 1280px) {
  .footer__content-center {
    padding-bottom: 0;
    align-items: center;
  }
}
.footer__content-center .menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__content-center .menu h3 {
  color: #f2f2f2;
  font-weight: 500;
}
.footer__content-center .menu ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer__content-center .menu ul li a {
  color: #f2f2f2;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 18px;
}
.footer__content-center .menu ul li a:hover {
  color: #e6e6e6;
}
.footer__content-center .adress {
  margin-top: 50px;
}
@media (min-width: 1280px) {
  .footer__content-center .adress {
    margin-top: 0;
  }
}
.footer__content-center .adress img {
  width: 100%;
}
.footer__content-center .adress p {
  color: #f2f2f2;
  font-size: 18px;
  font-weight: 600;
}
.footer__content-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
@media (min-width: 1280px) {
  .footer__content-right {
    align-items: flex-end;
  }
}
.footer__content-right .top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__content-right .top .avatar {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer__content-right .top .avatar span {
  font-size: 14px;
  font-weight: 500;
  display: block;
  padding-bottom: 5px;
}
.footer__content-right .top .avatar p {
  color: #f2f2f2;
  font-size: 18px;
  font-weight: 600;
}
.footer__content-right .top .contact {
  display: flex;
  gap: 10px;
  align-items: center;
}
.footer__content-right .top .contact button {
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  background-color: #f2f2f2;
  color: #1f1f1f;
  cursor: pointer;
  width: 150px;
  transition: background-color 0.3s;
}
.footer__content-right .top .contact button:hover {
  background-color: #e6e6e6;
}
.footer__content-right .top .contact svg {
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: color 0.3s;
}
.footer__content-right .top .contact svg:hover {
  color: #e6e6e6;
}
.footer__content-right .bottom {
  margin-top: 50px;
}

.banner {
  border-radius: 25px;
  width: 100%;
  position: relative;
  z-index: 0;
  background-position: center;
  background-size: cover;
}
.banner__overlay {
  border-radius: 25px;
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 0.3;
  z-index: 1;
}
@media (max-width: 640px) {
  .banner__overlay {
    border-radius: 10px;
  }
}
.banner__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  height: 100%;
}
.banner__content h1 {
  font-weight: 500;
  color: #f2f2f2;
  z-index: 2;
  font-size: 48px;
  animation: appear 1.9s forwards;
}
@media (min-width: 768px) {
  .banner__content h1 {
    font-size: 24px;
    width: 220px;
  }
}
@media (min-width: 768px) {
  .banner__content {
    justify-content: flex-start;
    padding-left: 35px;
    padding-block: 32px;
  }
}
@media (max-width: 640px) {
  .banner {
    border-radius: 10px;
  }
}

.banner--home {
  background-image: url("../../src/assets/home-bg.png");
  height: 233px;
}
@media (min-width: 768px) {
  .banner--home {
    height: 111px;
  }
}

.banner--about {
  background-image: url("../../src/assets/about-bg.png");
  height: 233px;
}

@keyframes appear {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}
.housing__card .overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(175, 248, 200, 0) 50%);
  position: absolute;
  top: 0;
  z-index: 1;
  border-radius: 30px;
}
.housing__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}
.housing__card:hover img {
  transform: scale(1.03);
}
.housing__card .housing__info {
  width: 100%;
  position: absolute;
  bottom: 20px;
  padding-inline: 10px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  color: #f2f2f2;
  font-size: 16px;
  font-weight: 700;
}
@media (min-width: 1280px) {
  .housing__card .housing__info {
    padding-inline: 20px;
  }
}
.housing__card .housing__info .housing__name {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}
@media (min-width: 1280px) {
  .housing__card .housing__info .housing__name {
    font-size: inherit;
  }
}
.housing__card .housing__info .housing__name span {
  font-size: 16px;
  text-align: right;
}

.lodge__content__rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.lodge__content__rating li img {
  width: 23px;
}
@media (max-width: 640px) {
  .lodge__content__rating li img {
    width: 15px;
  }
}

.error {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 140px;
  flex: 1;
}
.error h1 {
  font-size: clamp(6rem, 1.775rem + 18.028vw, 18rem);
}
.error p {
  font-size: clamp(1.125rem, 0.729rem + 1.69vw, 2.25rem);
  text-align: center;
}
@media (min-width: 768px) {
  .error p {
    width: 260px;
  }
}
.error a {
  font-size: clamp(0.875rem, 0.787rem + 0.376vw, 1.125rem);
  text-decoration: underline;
}
@media (min-width: 768px) {
  .error {
    gap: 113px;
    margin-block: 113px;
  }
}

.dropdown {
  flex: 1;
}
.dropdown__button {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  width: 100%;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  border: 0;
  cursor: pointer;
  padding: 10px 15px;
  z-index: 100;
}
.dropdown__button span {
  text-align: left;
}
.dropdown__button__arrow {
  width: clamp(1.375rem, 1.155rem + 0.939vw, 2rem);
  transition: transform 0.2s;
}
.dropdown__button__arrow--rotate {
  width: clamp(1.375rem, 1.155rem + 0.939vw, 2rem);
  transform: rotate(-180deg);
  transition: transform 0.2s;
}
.dropdown__content {
  position: relative;
  padding: 20px;
}
.dropdown__content--open {
  max-height: 200px;
  transition: all 0.2s ease-in;
}
.dropdown__content--close {
  max-height: 0;
  margin-top: -60px;
  opacity: 0;
  transition: all 0.2s ease-out;
}
.dropdown__content ul li {
  padding-top: 2px;
}

.caroussel {
  position: relative;
  overflow: hidden;
  border-radius: 30px;
}
@media (min-width: 768px) {
  .caroussel {
    height: 400px;
  }
}
@media (min-width: 1280px) {
  .caroussel {
    height: 600px;
  }
}
.caroussel__container {
  display: flex;
  transition: all 1s ease;
  width: 100%;
}
.caroussel__container img {
  border-radius: 30px;
  object-fit: cover;
}
.caroussel__controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}
.caroussel__controls button {
  all: unset;
  cursor: pointer;
  padding-inline: 23px;
}
.caroussel__controls button img {
  width: 24px;
}
@media (min-width: 1280px) {
  .caroussel__controls button img {
    width: 100%;
  }
}
.caroussel__counter {
  position: absolute;
  bottom: 24px;
  left: 50%;
  color: #f2f2f2;
  font-size: 24px;
  font-weight: 500;
  display: none;
}
@media (min-width: 1280px) {
  .caroussel__counter {
    display: block;
  }
}

.main_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 20px;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: none;
  outline: none;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 15px;
  width: 100%;
}
.main_btn .main_btn_icon {
  background-color: #747474;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.main_btn svg {
  width: 25px;
  height: 25px;
}

.main_btn-black {
  color: #f2f2f2;
  background-color: #1f1f1f;
  border: 1px solid #1f1f1f;
}
.main_btn-black:hover {
  background-color: inherit;
  color: #1f1f1f;
}

.main_btn-white {
  color: #1f1f1f;
  background-color: #f2f2f2;
  border: 1px solid #1f1f1f;
}
.main_btn-white:hover {
  background-color: #1f1f1f;
  color: #f2f2f2;
}

.tags {
  display: flex;
  gap: 10px;
  font-size: 10px;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
@media (min-width: 1280px) {
  .tags {
    flex-wrap: nowrap;
    font-size: 12px;
  }
}
.tags li {
  padding: 5px 10px;
  border-radius: 5px;
  min-height: 30px;
  display: grid;
  place-content: center;
}
@media (min-width: 1280px) {
  .tags li {
    min-width: 100px;
  }
}

.tags--white {
  background-color: #f2f2f2;
  color: #1f1f1f;
}

.tags--black {
  background-color: #1f1f1f;
  color: #f2f2f2;
}

.host_figure {
  filter: grayscale(100%);
  margin-left: -10px;
}
.host_figure img {
  border-radius: 50%;
  width: 64px;
  border: 2px solid #f2f2f2;
}
@media (max-width: 640px) {
  .host_figure img {
    width: 32px;
  }
}

.popular_cursor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular_cursor-number {
  font-size: 64px;
  font-weight: 400;
}
.popular_cursor p {
  text-align: left;
  max-width: 30%;
}

.housing {
  margin-block: 43px 50px;
  background-color: #e6e6e6;
  border-radius: 25px;
  overflow: hidden;
}
.housing__wrapper {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: clamp(15.938rem, 14.067rem + 7.981vw, 21.25rem);
  gap: 60px;
  margin: 0 auto;
  justify-content: center;
  align-content: flex-start;
}
@media (min-width: 768px) {
  .housing__wrapper {
    grid-template-columns: repeat(2, 1fr);
    padding: 22px 0;
  }
}
@media (max-width: 640px) {
  .housing__wrapper {
    grid-template-columns: 1fr;
    padding: 22px 0;
  }
}
@media (min-width: 768px) {
  .housing {
    margin: 0;
    background-color: #f2f2f2;
    border-radius: 0;
  }
}

.about .about__img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 30px;
}
.about__items {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .about__items {
    margin: 19px 0;
    gap: 36.5px;
  }
}

.lodge__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  padding-block: 30px;
}
.lodge__content__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0;
  gap: 20px;
}
.lodge__content__host {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 21px;
  padding-top: 16px;
}
.lodge__content__host figure {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
@media (max-width: 640px) {
  .lodge__content__host {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 0;
  }
}
@media (max-width: 640px) {
  .lodge__content {
    flex-direction: column;
    align-items: stretch;
  }
}
.lodge__desc {
  background-color: #e6e6e6;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-inline: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 30px;
}
@media (min-width: 768px) {
  .lodge__desc {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 76px;
  }
}

/*# sourceMappingURL=style.css.map */
