@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  margin-inline: 100px;
}
@media (max-width: 1440px) {
  .main {
    margin-inline: 20px;
  }
}

a {
  text-decoration: none;
  color: #FF6060;
}

li {
  list-style: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.navbar {
  margin-block: 45px 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  margin-inline: 100px;
}
.navbar__logo img {
  width: 210px;
  height: 68px;
}
@media (max-width: 768px) {
  .navbar__logo img {
    width: 145px;
    height: 46px;
  }
}
.navbar__links {
  display: flex;
  gap: 57px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navbar__links a {
  font-size: 24px;
  position: relative;
}
@media (max-width: 768px) {
  .navbar__links a {
    font-size: 12px;
  }
}
.navbar__links a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 0px;
  background-color: #FF6060;
  bottom: -4px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.navbar__links a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
@media (max-width: 768px) {
  .navbar__links {
    gap: 26px;
  }
}
@media (max-width: 1440px) {
  .navbar {
    margin-block: 20px 27px;
    margin-inline: 20px;
  }
}

.footer {
  background-color: #000000;
  margin-top: 50px;
}
.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 66px 29px;
  gap: 28px;
}
.footer__content p {
  color: #ffffff;
  font-size: 24px;
}
@media (max-width: 768px) {
  .footer__content p {
    font-size: 12px;
    width: 122px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .footer__content {
    gap: 12px;
    padding-bottom: 58px;
  }
}
@media (max-width: 768px) {
  .footer {
    margin-top: 20px;
  }
}

.banner {
  border-radius: 25px;
  width: 100%;
  position: relative;
  z-index: 0;
  background-position: center;
  background-size: cover;
}
.banner__overlay {
  border-radius: 25px;
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 0.3;
  z-index: 1;
}
@media (max-width: 768px) {
  .banner__overlay {
    border-radius: 10px;
  }
}
.banner__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  height: 100%;
}
.banner__content h1 {
  font-weight: 500;
  color: #ffffff;
  z-index: 2;
  font-size: 48px;
  animation: appear 1.9s forwards;
}
@media (max-width: 1440px) {
  .banner__content h1 {
    font-size: 24px;
    width: 220px;
  }
}
@media (max-width: 1440px) {
  .banner__content {
    justify-content: flex-start;
    padding-left: 35px;
    padding-block: 32px;
  }
}
@media (max-width: 768px) {
  .banner {
    border-radius: 10px;
  }
}

.banner--home {
  background-image: url("../../src/assets/home-bg.png");
  height: 233px;
}
@media (max-width: 1440px) {
  .banner--home {
    height: 111px;
  }
}

.banner--about {
  background-image: url("../../src/assets/about-bg.png");
  height: 233px;
}

@keyframes appear {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateY(0);
  }
}
.card {
  width: 100%;
  position: relative;
  opacity: 0;
  transform: translateX(-100vw);
  animation: fadeIn 2s forwards;
}
.card .overlay {
  position: absolute;
  border-radius: 10px;
  inset: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.card img {
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.card p {
  width: 300px;
  position: absolute;
  bottom: 15px;
  padding-inline: 20px;
  color: #ffffff;
  font-size: 18px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-100vw);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.lodge__content__rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.lodge__content__rating li img {
  width: 23px;
}
@media (max-width: 768px) {
  .lodge__content__rating li img {
    width: 15px;
  }
}

.error {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 140px;
  color: #FF6060;
  margin-block: 141.5px;
}
.error h1 {
  font-size: clamp(6rem, 1.775rem + 18.028vw, 18rem);
}
.error p {
  font-size: clamp(1.125rem, 0.729rem + 1.69vw, 2.25rem);
  text-align: center;
}
@media (max-width: 1440px) {
  .error p {
    width: 260px;
  }
}
.error a {
  font-size: clamp(0.875rem, 0.787rem + 0.376vw, 1.125rem);
  text-decoration: underline;
}
@media (max-width: 1440px) {
  .error {
    gap: 113px;
    margin-block: 113px;
  }
}

.dropdown {
  flex: 1;
}
.dropdown__button {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  width: 100%;
  border-radius: 5px;
  background-color: #FF6060;
  color: white;
  font-size: clamp(0.813rem, 0.57rem + 1.033vw, 1.5rem);
  border: 0;
  cursor: pointer;
  padding: 10px 15px;
  text-transform: capitalize;
  z-index: 100;
}
.dropdown__button__arrow {
  width: clamp(1.375rem, 1.155rem + 0.939vw, 2rem);
  transition: transform 0.2s;
}
.dropdown__button__arrow--rotate {
  width: clamp(1.375rem, 1.155rem + 0.939vw, 2rem);
  transform: rotate(-180deg);
  transition: transform 0.2s;
}
.dropdown__content {
  position: relative;
  background-color: #F6F6F6;
  color: #FF6060;
  font-size: clamp(0.75rem, 0.618rem + 0.563vw, 1.125rem);
  padding: 20px;
  z-index: -100;
}
.dropdown__content--open {
  max-height: 200px;
  margin-top: 0;
  transition: all 0.3s ease-in;
}
.dropdown__content--close {
  max-height: 0;
  margin-top: -43px;
  opacity: 0;
  transition: all 0.3s ease-out;
}
.dropdown__content ul li {
  padding-top: 2px;
}

.caroussel {
  position: relative;
  overflow: hidden;
  height: clamp(15.938rem, 12.416rem + 15.023vw, 25.938rem);
  width: 100%;
  border-radius: 25px;
}
.caroussel__container {
  height: 100%;
  display: flex;
  transition: all 1s ease;
}
.caroussel__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.caroussel__controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}
.caroussel__controls button {
  all: unset;
  cursor: pointer;
  padding-inline: 23px;
}
@media (max-width: 1440px) {
  .caroussel__controls button img {
    width: 24px;
  }
}
.caroussel__counter {
  position: absolute;
  bottom: 24px;
  left: 50%;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .caroussel__counter {
    display: none;
  }
}

.housing {
  margin-block: 43px 50px;
  background-color: #F6F6F6;
  border-radius: 25px;
}
.housing__wrapper {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: clamp(15.938rem, 14.067rem + 7.981vw, 21.25rem);
  gap: 60px;
  margin: 0 auto;
  justify-content: center;
  align-content: flex-start;
}
@media (max-width: 1440px) {
  .housing__wrapper {
    grid-template-columns: repeat(2, 1fr);
    padding: 22px 0;
  }
}
@media (max-width: 768px) {
  .housing__wrapper {
    grid-template-columns: 1fr;
    padding: 22px 0;
  }
}
@media (max-width: 1440px) {
  .housing {
    margin: 0;
    background-color: #ffffff;
    border-radius: 0;
  }
}

.about__items {
  margin: 38px 108px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 40px;
}
@media (max-width: 1440px) {
  .about__items {
    margin: 19px 0;
    gap: 30px;
  }
}

.lodge {
  width: 100%;
}
.lodge__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  color: #FF6060;
  padding-block: 30px;
  padding-inline: 5px;
  width: 100%;
}
.lodge__content__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0;
}
.lodge__content__info h2 {
  font-size: clamp(1.125rem, 0.729rem + 1.69vw, 2.25rem);
  font-weight: 400;
}
.lodge__content__info h3 {
  font-size: clamp(0.875rem, 0.787rem + 0.376vw, 1.125rem);
  font-weight: 400;
}
.lodge__content__tags {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.lodge__content__tags li {
  padding: 2px 30px;
  text-align: center;
  background-color: #FF6060;
  color: #ffffff;
  font-size: clamp(0.625rem, 0.537rem + 0.376vw, 0.875rem);
  border-radius: 5px;
}
@media (max-width: 768px) {
  .lodge__content__tags li {
    padding: 2px 10px;
  }
}
@media (max-width: 1440px) {
  .lodge__content__tags li {
    padding: 2px 12px;
  }
}
.lodge__content__host {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 21px;
  padding-top: 16px;
}
.lodge__content__host figure {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  width: 90px;
}
.lodge__content__host figure img {
  border-radius: 50%;
  width: 64px;
}
@media (max-width: 768px) {
  .lodge__content__host figure img {
    width: 32px;
  }
}
@media (max-width: 768px) {
  .lodge__content__host {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 0;
  }
}
@media (max-width: 768px) {
  .lodge__content {
    flex-direction: column;
    align-items: stretch;
  }
}
.lodge__desc {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 76px;
}
@media (max-width: 1440px) {
  .lodge__desc {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
